
/*

main menu css
*/

#menu-mainmenu {
    list-style-type: none;
    margin:0;
    padding:0;
    text-align: center;
    background-color:#dd3333;
    line-height:38px;
    -webkit-border-radius: 12px 12px 0px 0px; 
    -moz-border-radius: 12px 12px 0px 0px; 
    border-radius: 12px 12px 0px 0px; 
    display:block;
}

#menu-mainmenu li
{
     display: inline-block;
     margin: 0;
     padding:0;
     position:relative;
     vertical-align: middle;
}

#menu-mainmenu  li  a 
{
     display: inline-block;
     color:white;
     margin:0;
     padding:0;
     text-decoration: none;
     vertical-align: middle;
     line-height:38px;
     padding-left: 6px;
     padding-right: 6px;
}

#menu-mainmenu  li  ul {
    display:none;
    position: absolute;
    top:38px;
    left:0px;
    width:200px;
    height:auto;
    background-color:#dd3333;
    z-index:19;
    padding:0;
    margin:0;
}

#menu-mainmenu li ul li{
    display: block;
    margin: 0;
    padding:0;
    position:relative;
    text-align: left;
 }
 
 #menu-mainmenu li ul li:hover {
     background-color: black;
 }

 #menu-mainmenu > li:hover{
     background-color: yellowgreen;
 } 
 
#menu-mainmenu  li:hover   ul{
    display:block;
    padding:0;
    margin:0;
}

#menu-mainmenu  li  ul li a
{
     display: inline-block;
     color:white;
     margin:0;
     padding:0;
     width:100%;
     padding-left:19px;
}

#menu-mainmenu  > li.current-menu-item > a{
    background-color: yellowgreen !important;
    font-weight: bold;
    border-radius: 6px;
}

#menu-mainmenu  > li.current-menu-parent > a{
    background-color: yellowgreen !important;
    font-weight: bold;
    border-radius: 6px;
}

#menu-mainmenu  > li.current-menu-item menu-item-has-children > a {
    background-color: yellowgreen !important;
    font-weight: bold;
    border-radius: 6px;
}




#menu-mainmenu ul ul ul {
    display:none
}